EmailSettings__FromName='App'
EmailSettings__FromEmail=''
EmailSettings__ToName='Recipient'
EmailSettings__ClientHost='smtp.gmail.com'
EmailSettings__ClientPort=465
EmailSettings__ClientLogin=''
EmailSettings__ClientPassword=''
EmailSettings__UseSsl=true

RabbitMqSettings__Host=rabbitmq://rabbitmq
RabbitMqSettings__Username=
RabbitMqSettings__Password=