ConnectionStrings__PostgreSQLConnectionString='User ID=postgres;Password=;Host=postgres-users-db;Port=5432;Database=UsersManagementSystem;'

JwtSettings__SecretKey=''
JwtSettings__Issuer=
JwtSettings__Audience=
JwtSettings__ExpiresInMinutes=10

RefreshTokenSettings__ExpiresInDays=14

AccountConfirmationTokenSettings__ExpiresInMinutes=5

RabbitMqSettings__Host=rabbitmq://rabbitmq
RabbitMqSettings__Username=
RabbitMqSettings__Password=

TokenIdentifiers__AccessTokenIdentifier=access_token
TokenIdentifiers__RefreshTokenIdentifier=refresh_token

AccountConfirmationEmailContent__Subject='Account confirmation'
AccountConfirmationEmailContent__Body='Use this link to confirm your account'
AccountConfirmationEmailContent__Link='http://localhost:8080/Users/verify'