@{
    ViewData["Title"] = "Main";
}

<div class="d-flex flex-column justify-content-center align-items-center hero-section">
    <h1 class="display-3 fw-bold text-center mb-5">User Management System</h1>
    <a asp-controller="Users" asp-action="GetAllUsers" class="btn btn-primary btn-lg px-5 py-3 shadow-sm">
        <i class="bi bi-shield-lock me-2"></i>Access admin panel
    </a>
</div>